.game-container {
  padding-top: 5rem;
  padding-right: 2.5rem;
  padding-bottom: 5rem;
  padding-left: 2.8rem;
  min-height: 100vh;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  font-style: italic;
}

.riddle-lines {
  margin-bottom: 30px;
}

.riddle-line {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #555;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-style: italic;
}

.inputs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.letter-input {
  width: 30px;
  height: 35px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.letter-input:focus {
  border-color: #83312e;
}

.input-label {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #83312e;
}
